/***********************
Colors
***********************/
/*
body {
	background: url("http://dash.ga.co/assets/anna-bg.png");
	text-align: center;
	background-size: cover;
	background-position: center;

}
*/



/***********************
Jumbotron
***********************/

#jumbotron {
	text-align: center;
	padding: 0px auto;
	margin: 0;
	font-family: 'Open Sans';
	
}

h1 {
	font-size: 15em;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans';
	font-size: 1.25em;
	margin: 0 0 50px 0;
	padding: 0;
}

/***********************
Headshot
***********************/
#img {
	float: top;
	display: block;
	max-width: 150px;
	padding: 10px;
	margin: auto;

}


/***********************
About
**********************/

#about {
	font-family: 'Open Sans';
	float: left;
	clear: all;
	width: 40%;
	margin: 0 0 0 50px;
	padding: 0;
	font-size: .9em;
}


/***********************
Contact
***********************/

#contact {
	font-family: 'Open Sans';
	float: right;
	clear: all;
	width: 40%;
	margin: 0px 20px 0px 0px;
	padding: 0;
	font-size: .9em;
}

#contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: .9em;
}

#contact-info li {
	padding: 2.5px;
}


